[MASTER]
ignore=build,tmp,vendor,tests,__pycache__

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-arguments,
    too-many-positional-arguments,
    line-too-long

[FORMAT]
max-line-length=100

[DESIGN]
max-args=6
max-positional-arguments=6